<%- include('./partials/header.ejs') %>

    <link rel="stylesheet" href="./css/style_registered_ngo.css">

    <div class="main">        
        <div class="container table-responsive">
            <table class="table table-success table-striped table-hover align-middle">
                <thead class="align-middle">
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">NGO Name</th>
                        <th scope="col">Registration No.</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Webpage</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <%  let i=1; %>
                    <% NGOData.forEach(NGO=>{ %>
                        <tr>
                            <td scope="row"><%= i %></td>
                            <td><%= NGO["name"] %> &nbsp; </td>
                            <td><%= NGO["NGO_registration_number"] %></td>
                            <td><%= NGO["email"] %></td>
                            <td><%= NGO["NGO_address"].humanReadableAddress %></td>
                            <% if (NGO["NGO_sectors"]==='') { %>
                                <td>Data not available</td>
                            <% } else {%>
                                <td><%= NGO["NGO_sectors"] %></td>
                            <% } %>
                            <% if (NGO["NGO_webpage"]==='') { %>
                                <td>Data not available</td>
                            <% } else {%>
                                <td><a class="NGOWebpage" href="https://<%= NGO["NGO_webpage"] %>" target="_blank"><%= NGO["NGO_webpage"] %></a></td>
                            <% } %>
                        </tr>
                    <%  i++; }); %>
                </tbody>
            </table>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>

</body>
</html>
